<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./script.js" defer></script>
</head>
<body class="h-full grid place-items-center">
    <div id="app">
        <section v-show="assignments.filter(a =>! a.complete).length">
            <h2 class="font-bold mb-2">In Progress</h2>

            <ul>
                <li v-for="assignment in assignments.filter(a => !a.complete)" :key="assignment.id"> 
                    <label>
                        {{assignment.name}}

                        <input type="checkbox" v-model="assignment.complete">
                    </label>                    
                </li>
            </ul>
        </section>

        <section v-show="assignments.filter(a => a.complete).length" class="mt-8">
            <h2 class="font-bold mb-2">Completed</h2>

            <ul>
                <li v-for="assignment in assignments.filter(a=>a.complete)"> 
                    <label>
                        {{assignment.name}}

                        <input type="checkbox" v-model="assignment.complete">
                    </label>                     
                </li>
            </ul>
        </section>
    </div>    
</body>
</html>